{% extends 'layouts/application.html' %}

{% block title %}Admin Dashboard{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
    </ol>
{% endblock %}
{% block chards %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Books</h5>
                    <hr>
                    <form action="/create-book">
                        {%  csrf_token %}
                        <div class="form-row">
                           <div class="form-group col-md-6">
                           <label for="inputAddress">Title</label>
                           <input type="text" class="form-control" id="inputEmail4" placeholder="Book Title" name="title">
                        </div>
                        <div class="form-group col-md-6">
                           <label for="inputAddress">Price</label>
                           <input type="number" class="form-control" id="inputPassword4" placeholder="Price" name="price">
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Author</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Author Name" name="author">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Add Books">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}